<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Getting Started: Serving Web Content</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    </head>
    <body>
        <!--        <div id="header">
                    <p th:text="|Hello, ${name}!|" />
                </div>-->
        <div id="header">
            <h1>Welcome Home</h1>
            <a href="/shoppingCart">Shopping Cart</a>
        </div>
        <p>Hello and welcome to [insert Website name]! Let us know if you need anything!</p>
        <div id="popular-items">
            <h1>Popular Items</h1>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="'$'+${product.price}"></td>
                </tr>
            </table>
        </div>
        <div id='link-container'>
            <a href="/add-product">Add Products</a>
            <a href="/products">All Products</a>    
        </div>

    </body>
</html>